.container {
    height: 100%;
    width: 100%;
}

.Home-grid{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    top: 10;
    left: 0; 
    width: 100%;
    height: 100%;
}
  
.profile-picture {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    border-width: 3;
    margin-top: 40px;
    object-fit: cover;
}
  
.banner-text{
    background-color: black;
    opacity: 0.8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}
  
.banner-text h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: 'Libre Baskerville', serif;
    padding-top: 5px;
}
  
.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}
  
.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}
  
.social-links {
    display: flex;
    width: 25%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
  
.social-links i {
    color: white;
    margin-top: 20px;
    font-size: 5em;
    padding: 8px 30px;
}

@media (max-width: 1200px) {
    .banner-text h1{
        font-size: 48px;
        font-weight: bold;
        color: white;
    }
    .banner-text p {
        color: white;
        font-size: 15px;
        padding: 1em
    }
    .profile-picture {
        height: 250px;
        width: 250px;
        margin-top: 0px;
    }
}

@media (max-width: 768px) {
    .profile-picture {
        height: 225px;
        width: 225px;
    }
    .social-links i {
        color: white;
        margin: 20px auto 0px auto;
        padding: 8px 30px;
    }
    .banner-text h1{
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    .profile-picture {
        height: 200px;
        width: 200px;
        margin-top: 30px;
    }
    .banner-text h1{
        font-size: 30px;
    }
    .banner-text p {
        font-size: 15px;
    }
    .social-links i {
        font-size: 4em;
    }
}

@media (max-width: 600px) {
    .hide {
        visibility: hidden;
    }
}

@media (max-width: 425px) {
    .social-links i {
        font-size: 3em;
    }
    .banner-text h1{
        font-size: 18px;
    }
    .banner-text p {
        font-size: 10px;
    }
}
  